@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --mainColor: #4263eb;
  --mainColor-tint: #5573ed;
  --mainColor-shade: #3b59d4;
  --secondaryColor: ;
  --tertiaryColor: ;
  --ff: #fff;
  --black18: #181818;

  --bg: #f2f2f7;
  --bg-blur-navBar: rgba(255, 255, 255, 0.4);

  --borderFieldID: #c5c5c5;
  --borderFieldName: #c5c5c5;
  --borderFieldNumber: #c5c5c5;
  --borderFieldIDCar: #c5c5c5;
  --borderFieldModel: #c5c5c5;
  --borderFieldPass: #c5c5c5;
  --borderFieldPassConfirm: #c5c5c5;

  --border-dashboardCard: #c8c8c8;
}

* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}

body,
section {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  color: var(--black18);
  background-color: var(--bg);
}

button,
input {
  font-family: 'Inter', sans-serif;
}

/* ///////////////////////////////////////////////////// */
/* Sign.jsx */
.container-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  width: 20rem;
  border-radius: 12px;
  display: flex;
  padding: 24px 0;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 10px 10px -6px rgba(100, 75, 229, 0.35);
}

.login-img {
  height: 5.3rem;
  user-select: none;
  pointer-events: none;
}

.login-title {
  margin-top: 4px;
  font-size: 2rem;
  letter-spacing: -1px;
  font-weight: 800;
  user-select: none;
  pointer-events: none;
  background: linear-gradient(to right bottom, #8fa0e7, var(--mainColor-shade));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-label {
  width: 80%;
  margin-top: 1rem;
  font-weight: 600;
  user-select: none;
  pointer-events: none;
}

.login-inputMail,
.login-inputPass {
  min-height: 36px;
  width: 80%;
  margin-top: 4px;
  padding: 12px 6px;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  border: 2px solid #e4e4e4;
}

.login-inputMail:focus,
.login-inputPass:focus {
  border: 2px solid var(--mainColor-shade);
}

.login-buttonLogin,
.login-buttonLoginGoogle {
  min-height: 52px;
  width: 80%;
  margin-top: 1.5rem;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(to top right, #3b59d4, #6681ed);
  box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.5);
}

.login-buttonLoginGoogle {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #181818;
  background: white;
  box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.3);
}

.login-buttonLogin:hover {
  cursor: pointer;
  box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.57);
}

.login-labelBGR {
  margin-top: 16px;
  font-size: 16px;
}

.login-buttonGoRegister {
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  background: none;
  color: var(--mainColor-shade);
}

.login-buttonGoRegister:hover {
  font-weight: 700;
  cursor: pointer;
}

/* ///////////////////////////////////////////////////// */
/* BadCredentials.jsx */
.containerMessage-wrongCredentials {
  height: 3rem;
  width: 18rem;
  gap: 6px;
  font-size: 16px;
  border-radius: 10px;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  pointer-events: none;
  position: fixed;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #181818;
  background-color: #fff;
  box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.4);
}

.wrongCredentials-svg-panlocked {
  height: 20px;
  color: #ff3232;
}

/* ///////////////////////////////////////////////////// */
/* SignUp.jsx */
.container-signUp {
  /* height: 100vh; */
  margin-top: 3rem;
  /* padding-top: 3rem; */
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpForm {
  /* height: 38rem; */
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: #fff;
  box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.2);
}

.signUpForm-title {
  margin-bottom: 6px;
  font-size: 26px;
  letter-spacing: -.8px;
  color: #181818;
}

.signUpForm-label {
  width: 78%;
  margin-top: 10px;
  letter-spacing: -.4px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 85% 1fr;
  color: #181818;
}


.signUpForm-labelSVG {
  width: 20px;
  justify-self: center;
  color: var(--mainColor);
}

.signUpForm-name,
.signUpForm-mail,
.signUpForm-IDCar,
.signUpForm-number,
.signUpForm-modelCar,
.signUpForm-pass,
.signUpForm-passConfirm {
  min-height: 36px;
  width: 78%;
  margin-top: 4px;
  padding: 10px 6px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid var(--borderFieldName);
  background: none;
  outline: none;
  background-color: white;
}

.signUpForm-mail {
  border: 2px solid var(--borderFieldID);
}

.signUpForm-number {
  border: 2px solid var(--borderFieldNumber);
}

.signUpForm-IDCar {
  border: 2px solid var(--borderFieldIDCar);
}

.signUpForm-modelCar {
  border: 2px solid var(--borderFieldModel);
}

.signUpForm-pass {
  width: 100%;
  border: 2px solid var(--borderFieldPass);
}

.signUpForm-passConfirm {
  width: 100%;
  border: 2px solid var(--borderFieldPassConfirm);
}

.signUpForm-name-p,
.signUpForm-mail-p,
.signUpForm-pass-p,
.signUpForm-passConfirm-p {
  height: 12px;
  width: 78%;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #f63737;
}


.wrapper-password {
  width: 78%;
  gap: 4px;
  display: grid;
  overflow-y: hidden;
  grid-template-columns: 80% 1fr;
  background-color: #fff;
}

.btn-showPass,
.btn-showPassConfirm {
  height: 42px;
  width: 46px;
  margin-top: 4px;
  border: 2px solid var(--borderFieldPass);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-showPassConfirm {
  border: 2px solid var(--borderFieldPassConfirm);
}

.btn-showPass-svg,
.btn-hidePass-svg,
.btn-showPassConfirm-svg,
.btn-hidePassConfirm-svg {
  height: 24px;
  color: var(--mainColor);
}


.wrapper-textAdvicePass {
  width: 78%;
  margin-top: 2px;
  gap: 8px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

.signUpForm-pass-p {
  font-size: 14px;
  color: var(--mainColor);
}

.signUpForm-pass-ul {
  padding-left: 1.5rem;
  font-size: 13px;
}

.signUpForm-btnRegister {
  min-height: 48px;
  width: 78%;
  margin-top: 12px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(to top right, #3b59d4, #6681ed);
  box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.2);
}

.signUpForm-btnRegister:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.25);
}

.signUpForm-labelGoSignIn {
  margin-top: 18px;
}

.signUpForm-btnGoSignIn {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  background: none;
  color: #3b59d4;
}

.signUpForm-btnGoSignIn:hover {
  cursor: pointer;
}

/* ///////////////////////////////////////////////////// */
/* Home.jsx */
.page-home {
  height: 100vh;
}

/* ///////////////////////////////////////////////////// */
/* NavBarDesktop.jsx */
.navBar-desktop {
  height: 44px;
  width: 100%;
  border-bottom: 2px solid var(--mainColor);
  display: grid;
  grid-template-columns: 30% 1fr;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: var(--ff);
  backdrop-filter: blur(12px);
  background-color: var(--bg-blur-navBar);
  z-index: 7;
}

.NVD-title {
  margin-left: 1.3rem;
  letter-spacing: 1px;
  font-size: 20px;
  justify-self: flex-start;
  font-weight: 600;
  font-style: italic;
}

.NVD-wrapperButtons {
  padding-right: 1.3rem;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: none;
}

.NVD-btn-dashboard,
.NVD-btn-feed,
.NVD-btn-account {
  font-weight: 500;
  text-decoration: none;
  border: none;
  outline: none;
  color: var(--black18);
}

.NVD-btn-dashboard:hover,
.NVD-btn-feed:hover,
.NVD-btn-account:hover {
  cursor: pointer;
}

/* ///////////////////////////////////////////////////// */
/* NavBarMobile.jsx */
.navBar-mobile {
  height: 58px;
  width: 100%;
  border-top: 2px solid var(--mainColor);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--ff);
  z-index: 7;
}

.NVM-btn {
  font-weight: 500;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--black18);
}

.NVM-btnIcon {
  height: 26px;
  color: var(--black18);
}

/* ///////////////////////////////////////////////////// */
/* Appearance.jsx */
.btn-Dark,
.btn-Light {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 64px;
  right: 12px;
  background: none;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.btn-darkIcon,
.btn-lightIcon {
  height: 26px;
  color: #181818;
}

.btn-lightIcon {
  height: 28px;
  color: yellow;
}

/* ///////////////////////////////////////////////////// */
/* Dashboard.jsx */
.container-dashboard {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.dashboard-header h1 {
  margin-left: 2rem;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
}

.dashboard-main {
  width: 95%;
  margin-top: 10px;
  padding-bottom: 7rem;
  gap: 16px 8px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-self: center;
}

.dashboard-card {
  width: 20rem;
  padding: 1rem;
  border-radius: 12px;
  gap: 10px;
  border: 2px solid var(--border-dashboardCard);
  display: flex;
  flex-direction: column;
  background-color: var(--ff);
}

.dashboard-card-title {
  font-weight: 800;
  color: var(--mainColor);
}

.dashboard-card-description {
  font-size: 14px;
  line-height: 1.5;
}

.dashboard-card-date {
  font-size: 32;
  font-weight: 700;
}

/* ///////////////////////////////////////////////////// */
/* Profile.jsx */
.container-profile {
  height: 100vh;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-btn {
  width: 17rem;
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  outline: none;
  color: #0965c8;
  background-color: #e1e7f7;
}

.profile-btn:hover {
  cursor: pointer;
}

/* dark MODE
bg: #0d1e3e
color: #0a84ff
*/

.profile-btnRed {
  color: #de3333;
  background-color: #fff;
}

/* ///////////////////////////////////////////////////// */
/* FormDates.jsx */
.container-formDates {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 4rem;
  justify-content: center;
}

.formDates {
  width: 21rem;
  margin-top: 2rem;
  padding: 2rem 6px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}


.wrapperInputDates {
  width: 86%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.formDates-label {
  font-size: 17px;
  font-weight: 600;
  align-self: flex-start;
}

.formDates-input {
  height: 48px;
  width: 100%;
  margin-top: 6px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  text-align: center;
  color: #0965c8;
  background-color: #e1e7f7;
}

.formDates-input:hover {
  cursor: pointer;
}

.formDates-btn {
  min-height: 48px;
  width: 86%;
  margin-top: 1.3rem;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  color: var(--ff);
  background-color: var(--mainColor);
}


.formDates-btn {
  cursor: pointer;
}

/* ///////////////////////////////////////////////////// */
/* FormPost.jsx */






/* ///////////////////////////////////////////////////// */
.hidden {
  display: none;
}

.gradient {
  background: linear-gradient(to right bottom, #8fa0e7, var(--mainColor-shade));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  height: 100%;
  width: 110%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background: linear-gradient(to left, var(--mainColor), #8fa0e7);
}


.highlightBubble-container,
.highlightBubble {
  position: relative;
}

.highlightBubble-container {
  display: inline-block;
}

.highlightBubble-container:before {
  content: " ";
  width: 100%;
  display: block;
  position: absolute;
  margin-left: -3px;
  top: -1px;
  left: -1px;
  height: 90%;
  margin-right: -3px;
  transform: rotate(2deg);
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
  background: var(--gradient-primary);
}